In [ ]:
keywords in python

In [1]:
import keyword
print (keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Identifiers names which  you give to the entity class, functions, variables, we cant use any symbols like !,@ , #, $ , %

Rules for wirting Identifiers:
    1. Identifiers can be combinaition (a to z) (A- Z) (1-9)
    2. it should not start with a digit.
    3. keyword cant be identifiers

In [6]:
sai = "hello world"

SyntaxError: invalid syntax (304297353.py, line 1)

In [ ]:
Variables

a location in a memory to store data
 a = 3
 b = 10

a = 3
b = 5.5
c = "ML"
print (a+b+c)

In [8]:
a = 3
b = 5.5
c = "ML"
print (a+b)

8.5

In [9]:
a,b,c = 3,4,5
print (a)
print (b)

3
4

In [10]:
a = b = c = "ML"

In [11]:
print (a)
print (b)
print (c)

ML
ML
ML

In [12]:
a = 4
print (id(a))

140462894238096

In [ ]:
Data Types:

Numbers ( Integer, Float, Complex)

1,2,3...
1.5, 3.3. .. (float)
10+4i (complex)

BOOLEAN 

STRINGS


s = "hey how are you doing"
Index always start from 0,

LISTS

lists are mutable, value of the elements in the list can be altered.

TUPLES 

tuples are immutable, value of the elements can't be changed.

In [17]:
a = True
type(a)
s = "hey how are you doing"
print(s)

hey how are you doing

In [14]:
type(a)

complex

In [21]:
s = "Hello World"
print(s[5:])

 World

In [24]:

a = [1,2,3,"hello","testing"]
print(a)
print(a[3])
a[4] = "test"
print(a)

[1, 2, 3, 'hello', 'testing']
hello
[1, 2, 3, 'hello', 'test']

In [25]:
b = (1,2,"hello")
print(b)
b[2] = "hey"
print(b)

(1, 2, 'hello')

TypeError: 'tuple' object does not support item assignment

SET

set is a unordered collection of unique items. Set is defined by values seperated comma inside curly braces {}

In [29]:
a = {10,20,30,40}
print(a)
b= {10, 10, 10 ,20 , 30, 30, 30, 90}
print(b)

print(b[3])

{40, 10, 20, 30}
{10, 20, 90, 30}

TypeError: 'set' object is not subscriptable

DICTIONARY

it is an unordered collection of key pairs (key then we have a value )

In [32]:
d = {'a':"apple",'aadhar':"8984"}
print(d['aadhar'])

8984

Convert int to strings , float to int

In [34]:
str(10)
int(100.5)

100

In [35]:
int('sai10')

ValueError: invalid literal for int() with base 10: 'sai10'

In [38]:
a= "hello I have read"
b = 10
c= "lines"
print(a+ str(b) +c)

hello I have read10lines

In [51]:
"""CONVERTING LIST TO TUPLE, 
TUPLE TO SET, 
LIST TO SET"""

#this is a comment
a = [1,2,4,4,4,6,5,6,4,8]
    
print(a)

s = set(a)

print(s)

t =  tuple(a)

print(t)

def double(num):
    """this 
    doubles the number"""
    return 2*num

[1, 2, 4, 4, 4, 6, 5, 6, 4, 8]
{1, 2, 4, 5, 6, 8}
(1, 2, 4, 4, 4, 6, 5, 6, 4, 8)

In [42]:
list("hello")

['h', 'e', 'l', 'l', 'o']

In [43]:
list("100")

['1', '0', '0']

In [ ]:
# comments

In [52]:
#doc string is short hand for documentation string.

print(double(3))

print(double.__doc__)

6
this
    doubles the number

In [54]:
import pandas
print (pandas.__doc__)

pandas - a powerful data analysis and manipulation library for Python
=====================================================================

**pandas** is a Python package providing fast, flexible, and expressive data
structures designed to make working with "relational" or "labeled" data both
easy and intuitive. It aims to be the fundamental high-level building block for
doing practical, **real world** data analysis in Python. Additionally, it has
the broader goal of becoming **the most powerful and flexible open source data
analysis / manipulation tool available in any language**. It is already well on
its way toward this goal.

Main Features
-------------
Here are just a few of the things that pandas does well:

  - Easy handling of missing data in floating point as well as non-floating
    point data.
  - Size mutability: columns can be inserted and deleted from DataFrame and
    higher dimensional objects
  - Automatic and explicit data alignment: objects can be explicitly aligned
    to a set of labels, or the user can simply ignore the labels and let
    `Series`, `DataFrame`, etc. automatically align the data for you in
    computations.
  - Powerful, flexible group by functionality to perform split-apply-combine
    operations on data sets, for both aggregating and transforming data.
  - Make it easy to convert ragged, differently-indexed data in other Python
    and NumPy data structures into DataFrame objects.
  - Intelligent label-based slicing, fancy indexing, and subsetting of large
    data sets.
  - Intuitive merging and joining data sets.
  - Flexible reshaping and pivoting of data sets.
  - Hierarchical labeling of axes (possible to have multiple labels per tick).
  - Robust IO tools for loading data from flat files (CSV and delimited),
    Excel files, databases, and saving/loading data from the ultrafast HDF5
    format.
  - Time series-specific functionality: date range generation and frequency
    conversion, moving window statistics, date shifting and lagging.

In [57]:
for i in range(0,5):
    print(i)
    for j in range(0,10):
    print(j)

IndentationError: expected an indented block (1532898161.py, line 4)

In [59]:
a = (1+2+4+
    5+6+4
    +9)
print(a)

31

In [63]:
#PYTHON INPUT & OUTPUT

print("hello world")
a = 10
print("the value of a is " + str(a))

hello world
the value of a is 10

In [72]:
#OUTPUT FORMATTING
a,b="sai","india"

print("Hey this is {}, I live in {}".format(a,b))
print("this is the number {}".format("10"))
print("Hey this is {1}, I live in {0}".format(a,b))
print("Hey this is {1}, I live in {0} I like {c}{other}".format(a,b,c=10,other='apples'))

Hey this is sai, I live in india
this is the number 10
Hey this is india, I live in sai
Hey this is india, I live in sai I like 10apples

In [75]:
number=input("enter a number")
print(number)

enter a numberhello
hello

# OPERATORS 

1. arithmetic operators
2. comparison operators
3. Logical(boolean) operators
4. bitwise
5. Asignment operatos 
6. special operators

In [76]:
#ARITHMETIC OPERATORS

# +, -, *, 

x,y = 10,20

# addition
print(x+y)

#subraction
print(x-y)

#multi
print(x*y)

#division
print(x/y)

#modulo divison
print(x%y)

#Floor division
print(x//y)

#Exponent
print(x**y)

30
-10
200
0.5
10
0
100000000000000000000

In [99]:
#COMPARISON OPERATORS
# >,>, ==, != , >= , 

a, b = 10, 20
print (a > b)

False

In [93]:
# LOGICAL OPERATORS

# and, or, not
#a, b = True, False
print(a or b)

True

In [101]:
# BITWISE OPERATORS , The integers are first converted into binary and then operations are performed on bit by bit, 
#hence the name bitwise operators.

# &, |, ~, ^, >>, <<
# and = &
# | OR
# ~ NOT
# ^ XOR
# >> Right shift
# << Left shit

print(a | b)

30

In [105]:
# Assignment Operators

# =, ==, += , /=, 
a = 10
a **= 10 
print(a)

1.0

In [109]:
# SPecial Operators

#Identity Operators
# is, is not, 

# Membership operators
# in, not in

a = [1,2,3]
if 1 in a:
    print("yay")
print ( a is b)

x = "apple"
y = "apple"
print (x is not  y)

yay
False
True