# DATA STRUCTURES

A data structure is collection of data elements (num, chars) that is structured in a way. for example numbering a elements.
The most basic data structure is "sequence"

-> List is a sequence
-> list is a collection of items
-> List is mutable and tuples are unmutable

In [1]:
#LIST CREATION

emptyList = []
lst = ['one','two']
lst2 =  [1,2,3,4]
lst3 = [[1,2],[1,4]]
lst4 = [1,'one','apple',1.5]
print(lst4)

[1, 'one', 'apple', 1.5]

In [2]:
# LIST APPEND
lst = ['one','two','three']

lst.append('four')
print(lst)

['one', 'two', 'three', 'four']

In [3]:
# LIST INSERT
lst = ['one','two','three']

lst.insert(2, "four") # will insert element "four" at index 2

print(lst)

['one', 'two', 'four', 'three']

In [4]:
# LIST REMOVE

lst = ['one','apple','three','apple','bird']
lst.remove('apple') #it will only remove the first occurence of apple

print(lst)

['one', 'three', 'apple', 'bird']

In [5]:
# LIST APPEND & EXTEND

lst = ['one','apple','three','apple','bird']
lst1 = ['four','five','six']

lst.extend(lst1)

print(lst)

['one', 'apple', 'three', 'apple', 'bird', 'four', 'five', 'six']

In [9]:
# LIST DELETE

lst = ['one','apple','three','apple','bird']

del lst[1]

print(lst)
 
# OR

lst.pop(2)

print(lst)

# OR

lst.remove('bird')
print(lst)

['one', 'three', 'apple', 'bird']
['one', 'three', 'bird']
['one', 'three']

In [10]:
# LIST RELATED KEYWORDS IN PYTHON

    # 'in' is used to test if an item is in the list
    
lst = ['one','apple','three','apple','bird']

if 'apple' in lst:
    print("yay")
    
if 'bird' not in lst:
    print("brid is not there")
else:
    print("bird in the list")

yay
bird in the list

In [11]:
# LIST REVERSE

lst = ['one','apple','three','apple','bird']

lst.reverse()
print(lst)

['bird', 'apple', 'three', 'apple', 'one']

# List Sorting

The easiest way to sort a list is sorted(list) function
then take a list and returns the elements in the sorted order,
the original list is not changed.
the sorted() optional argument reverse=True, ex: sorted(list,reverse=True), make it sort backwards.

In [12]:
lst = ['one','apple','three','apple','bird']

sorted_lst=sorted(lst)
print(sorted_lst)

['apple', 'apple', 'bird', 'one', 'three']

In [13]:
# Print the sorted list in reverse order

reverse_sorted_lst=sorted(lst,reverse=True)

print(reverse_sorted_lst)

['three', 'one', 'bird', 'apple', 'apple']

In [18]:
#directly print the stuff
lst = ['one','apple','three','apple','bird']
lst.sort()

print (lst)

['apple', 'apple', 'bird', 'one', 'three']

In [19]:
# Exception is you cant sort various data types.

lst = ['one','apple',2,1,'bird']
lst.sort()

print (lst)

TypeError: '<' not supported between instances of 'int' and 'str'

In [20]:
# List having Multiple references

lst=[1,2,4,5,6]
abc = lst.append('9')

print("original list",lst)

original list [1, 2, 4, 5, 6, '9']

In [23]:
# String Split to create a List

s = "one,two,three,four"
slst = s.split(',')
print(slst)

['one', 'two', 'three', 'four']