# DATA STRUCTURES

A data structure is collection of data elements (num, chars) that is structured in a way. for example numbering a elements.
The most basic data structure is "sequence"

-> List is a sequence
-> list is a collection of items
-> List is mutable and tuples are unmutable

In [1]:
#LIST CREATION

emptyList = []
lst = ['one','two']
lst2 =  [1,2,3,4]
lst3 = [[1,2],[1,4]]
lst4 = [1,'one','apple',1.5]
print(lst4)

[1, 'one', 'apple', 1.5]

In [2]:
# LIST APPEND
lst = ['one','two','three']

lst.append('four')
print(lst)

['one', 'two', 'three', 'four']

In [3]:
# LIST INSERT
lst = ['one','two','three']

lst.insert(2, "four") # will insert element "four" at index 2

print(lst)

['one', 'two', 'four', 'three']

In [4]:
# LIST REMOVE

lst = ['one','apple','three','apple','bird']
lst.remove('apple') #it will only remove the first occurence of apple

print(lst)

['one', 'three', 'apple', 'bird']

In [5]:
# LIST APPEND & EXTEND

lst = ['one','apple','three','apple','bird']
lst1 = ['four','five','six']

lst.extend(lst1)

print(lst)

['one', 'apple', 'three', 'apple', 'bird', 'four', 'five', 'six']

In [9]:
# LIST DELETE

lst = ['one','apple','three','apple','bird']

del lst[1]

print(lst)
 
# OR

lst.pop(2)

print(lst)

# OR

lst.remove('bird')
print(lst)

['one', 'three', 'apple', 'bird']
['one', 'three', 'bird']
['one', 'three']

In [10]:
# LIST RELATED KEYWORDS IN PYTHON

    # 'in' is used to test if an item is in the list
    
lst = ['one','apple','three','apple','bird']

if 'apple' in lst:
    print("yay")
    
if 'bird' not in lst:
    print("brid is not there")
else:
    print("bird in the list")

yay
bird in the list

In [11]:
# LIST REVERSE

lst = ['one','apple','three','apple','bird']

lst.reverse()
print(lst)

['bird', 'apple', 'three', 'apple', 'one']

# List Sorting

The easiest way to sort a list is sorted(list) function
then take a list and returns the elements in the sorted order,
the original list is not changed.
the sorted() optional argument reverse=True, ex: sorted(list,reverse=True), make it sort backwards.

In [12]:
lst = ['one','apple','three','apple','bird']

sorted_lst=sorted(lst)
print(sorted_lst)

['apple', 'apple', 'bird', 'one', 'three']

In [13]:
# Print the sorted list in reverse order

reverse_sorted_lst=sorted(lst,reverse=True)

print(reverse_sorted_lst)

['three', 'one', 'bird', 'apple', 'apple']

In [18]:
#directly print the stuff
lst = ['one','apple','three','apple','bird']
lst.sort()

print (lst)

['apple', 'apple', 'bird', 'one', 'three']

In [19]:
# Exception is you cant sort various data types.

lst = ['one','apple',2,1,'bird']
lst.sort()

print (lst)

TypeError: '<' not supported between instances of 'int' and 'str'

In [20]:
# List having Multiple references

lst=[1,2,4,5,6]
abc = lst.append('9')

print("original list",lst)

original list [1, 2, 4, 5, 6, '9']

In [23]:
# String Split to create a List

s = "one,two,three,four"
slst = s.split(',')
print(slst)

['one', 'two', 'three', 'four']

In [2]:
# LIST Indexing

# Each Item in the list has an asinged index valuestartng from 0
#Accessing elements via this index number is called indexing

lst = [1,2,3,4,5,6]
print(lst[1])

#print last element using negative index

print(lst[-1])

2
6

In [3]:
# List Slicling

# Accessing parts of segment in a list is called slicing.
# the key point end point represents the first value in the selected slice
# [starting_index:end_index:jump_value]

lst = [1,2,4,5,6,78,89,75,3,5,7]

# Print all numbers
print(lst[:])

#print from index 0 to 5
print(lst[0:4])

#Print every alternate number
print(lst[::2])

#Reverse a list
print(lst[::-1])

[1, 2, 4, 5, 6, 78, 89, 75, 3, 5, 7]
[1, 2, 4, 5]
[1, 4, 6, 89, 3, 7]
[7, 5, 3, 75, 89, 78, 6, 5, 4, 2, 1]

In [4]:
# List extend using "+"
lst = [1,2,4,5,6,78,89,75,3,5,7]

lst22 = ["apple","ball","cat"]

new_lst = lst + lst22

print(new_lst)

[1, 2, 4, 5, 6, 78, 89, 75, 3, 5, 7, 'apple', 'ball', 'cat']

In [5]:
# Count function in List
lst = [1,2,4,5,6,78,89,75,3,5,7]
print(lst.count(1))
print(lst.count(89))

1
1

In [6]:
# Looping in the list
lst = [1,2,4,5,6,78,89,75,3,5,7]
for element in lst:
    print(element)

1
2
4
5
6
78
89
75
3
5
7

# List Comprehensions

Its provides a concise way to create lists
Common applications include to make new lists where each element is the result of some operations

In [7]:
#WITHOUT LIST COMPREHENSION
squares = []
for i in range(5):
    squares.append(i**2)
print(squares)

[0, 1, 4, 9, 16]

In [8]:
# List Comprehension
squares = [i**2 for i in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [18]:
#EXAMPLES

lst = [1,2,-4,-6,-8,-19,4,5,6,7]
new_lst=[i**2 for i in lst]
print(new_lst)


# Square all the elements only that are positive
positive_lst=[i**2 for i in lst if i >= 0]
print(positive_lst)

# Create a tuple from list
tup = [(i,i**2) for i in range(10)]
print(tup)

[1, 4, 16, 36, 64, 361, 16, 25, 36, 49]
[1, 4, 16, 25, 36, 49]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

In [20]:
# NESTED LIST COMPREHENSIONS

# Lets take a matrix
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

# Transpose of a matrix without list comprehension (inverse matrix)
transposed = []
for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)
    
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [2]:
#With List comphrehension
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]
transposed = [[row[i] for row in matrix] for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

# TUPLES

    A tuple is similar to an list but its immutable.

In [5]:
#empty tuple
t = ()

# tuple with mixed data types
t = (1, 'raju', 28, 'abc')
print(t)

#nested tuples
t= (1,(1,2,3),[1,'raju','abc'])
print(t)

(1, 'raju', 28, 'abc')
(1, (1, 2, 3), [1, 'raju', 'abc'])

In [6]:
t=('raju')
type(t)

str

In [7]:
t=('raju',)
type(t)

tuple

In [8]:
t = (1, 'raju', 28, 'abc')
print(t[1])

raju

In [9]:
print(t[-1])

abc

In [10]:
#nested tuple 
t= (1,(1,2,3),[1,'raju','abc'])
print(t[2])

[1, 'raju', 'abc']

In [11]:
print(t[2][1])

raju

In [15]:
#concatinate tuples
t1,t2=(1,2,4),(5,6,7)
print(t1+t2)

(1, 2, 4, 5, 6, 7)

In [ ]:
#Delete tuple
t= (1,(1,2,3),[1,'raju','abc'])
del t

In [16]:
t = (1,2,4,6,7,5,3,6)

print(1 in t)

True

In [17]:
print(9 in t)

False

In [32]:
# We can sort tuple and get max element and min element, we can also get sum

t = (1,2,4,6,7,5,3,6)
print(max(t))
print(min(t))
print(sum(t))

t =  t + (10,)
print(t)

7
1
34
(1, 2, 4, 6, 7, 5, 3, 6, 10)

# SETS

set is an unordered collection of items. Every element is UNIQUE (no duplicates)
set used to perform mathematical stuff like union, intersection, etc.,,.
set is mutable

In [19]:
s = {1,2,3,4,3}
print(s)

{1, 2, 3, 4}

In [22]:
## fetching unique values from a list
lst=[1,2,3,4,5,5,5,5,6,6,6,7,7,7]
s=set(lst)
print(s)

{1, 2, 3, 4, 5, 6, 7}

In [24]:
#Add element to a set
s = {1,2,3,4,3}
print(s[2]) #set doesnt support indexing

TypeError: 'set' object is not subscriptable

In [27]:
# to add elements to a set
s.add(9)
print(s)

{1, 2, 3, 4, 9}

In [34]:
# to update multiple elements in a set

s.update([5,6,6])
print(s)

s.update([7,8,8,8],{10,12})
print(s)

{1, 2, 3, 4, 5, 6, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12}

In [35]:
# remove elements form a set
s.discard(10)
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 12}

In [36]:
s.remove(12)
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [56]:
## PYTHON SET OPREATIONS

set1 = {1,2,3,4,5}
set2 = {5,6,7,8}

print ( set1 | set2) #UNION to add two sets
#x = set1 + set2 # + dosent work set
#print(x)

x = set1.union(set2)
print(x)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [43]:
print( set1 & set2 )  #INTERSECTION of two sets
# here both set1 and set2 doesnt have unique elements

set()

In [46]:
y = (set1.intersection(set2))
print(y)

set()

In [47]:
# PRINT elements only in set1 not in set2

print(set1 - set2)  # DIFFERENCE

{1, 2, 3, 4}

In [48]:
print(set2 - set1)

{8, 5, 6, 7}

In [49]:
print(set1.difference(set2))

{1, 2, 3, 4}

In [57]:
# SYMMETRIC DIFFERENCE

print(set1 ^ set2)

{1, 2, 3, 4, 6, 7, 8}

In [50]:
# FINDING SUBSETS ....

x = {"a","b","c","d"}
y={"b","c","d"}
print("set y is an subset of set x",y.issubset(x))

set y is an subset of set x True

In [ ]:
# FROZEN SETS

#These frozen sets act as immutable sets.
# these can be created using function frozenset()

In [51]:
set1 = frozenset([1,2,3,4,5,5,6,6])
print(set1)

frozenset({1, 2, 3, 4, 5, 6})

In [52]:
set1.add(7)

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
# FROZEN set also supports intersection, union and symmetric difference.

# DICTIONARY

In [8]:
#empty dictonary
my_dcit = {}
my_dict = dict()

#dictionary with int keys
my_dict = {1:'abc',2:'xyz'}
print(my_dict)

#dictonary with mixed keys
my_dict = {'name':'sai',1: ['abc','xyz']}
print(my_dict)
print(my_dict[1][0])

{1: 'abc', 2: 'xyz'}
abc

In [9]:
#Dict Access
my_dict = {'name':'sai',1: ['abc','xyz']}
print(my_dict[1][0])

abc

In [10]:
# we can also fetch the value of the keys using get
print(my_dict.get('name'))

sai

In [17]:
# DIct add or modify elements
# Create a dict
my_dict = {'name':'sai','age':28,'address':'hyd'}


#update address
my_dict['name']='kumar'
print(my_dict)

{'name': 'kumar', 'age': 28, 'address': 'hyd'}

In [16]:
#remove parituclar item from dict.
print(my_dict.pop('age'))
print(my_dict)

28
{'name': 'kumar', 'address': 'hyd'}

In [18]:
# remove arbitary(last) item from the dict
my_dict = {'name':'sai','age':28,'address':'hyd'}
print(my_dict.popitem())

('address', 'hyd')

In [21]:
# remove an item from a dict using "del"
squares = {2:4,3:9, 4:16, 5:25}
del squares[3]
print(squares)

{2: 4, 4: 16, 5: 25}

In [22]:
squares.clear()
print(squares)

{}

In [23]:
# DICTIONARY METHODS
squares = {2:4,3:9, 4:16, 5:25}
my_dict = squares.copy()
print(my_dict)

{2: 4, 3: 9, 4: 16, 5: 25}

In [27]:
#fromkeys(seq[,v]) -> return a new dict with keys from seq and value equal to v
subjects = {}.fromkeys(['math','english','science'],2)
print(subjects)

{'math': 2, 'english': 2, 'science': 2}

In [29]:
#print only keys and vlaues
squares = {2:4,3:9, 4:16, 5:25}
print(squares.keys())
print(squares.values())

dict_keys([2, 3, 4, 5])
dict_values([4, 9, 16, 25])

In [30]:
#all the methods that we can perform on dictionary
d= {}
print(dir(d))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# DICT COMPHREHENSIONS

In [32]:
# DIct comprehensions are similar to list comprehensions but for dict

d = {'a':1, 'b':2, 'c':3}
for pair in d.items():
    print(pair)

('a', 1)
('b', 2)
('c', 3)

In [34]:
# creating a new dict with only pairs that vlaue is greater than 2

d = {'a':1, 'b':2, 'c':3, 'd':4}
print(d.items())
print(d.keys())
print(d.values())
new_dict={k:v for k,v in d.items() if v > 2}
print(new_dict)

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])
dict_keys(['a', 'b', 'c', 'd'])
dict_values([1, 2, 3, 4])
{'c': 3, 'd': 4}

In [35]:
#We can also perform some operation on the key vlaue pairs

d = {'a':1, 'b':2, 'c':3, 'd':4 , 'e':5}
new_dict={k+'*':v**2 for k,v in d.items() if v > 2}
print(new_dict)

{'c*': 9, 'd*': 16, 'e*': 25}

# STRING

A string is a basic seq of characters
Computer deal with the binary numbers. Even though you see char on screen , internally it is stored as 1 and 0
    This conversion is called encoding and reverse process is called decoding. ASCII and Unicode are popular encoding
  In pYthon , string is a seq of Unicode character.

In [62]:
# How to access characs of a string

mystring = "hello"

print(mystring[0])
print(mystring[1])
print(mystring[1:3])
print(mystring[3:1:-1])
print(mystring[::-1])

l = []
i=0
for i in range(len(mystring)-1,-1,-1):
    l.append(mystring[i])
listtostr = ''.join([str(i) for i in l])
print(listtostr)

h
e
el
ll
olleh
olleh

# STRINGS

We can access individual strings using indexing and range of characters using slicing.
    Index starts from 0. Len of the string starts from one.

In [69]:
mystring = "helloworld"

print(mystring[2:8:3])
print(mystring[::-1])
print(mystring[8:2:-1])

lw
dlrowolleh
lrowol

In [ ]:
#Index cant be float or out of range
# del mystring completely deletes the string

In [70]:
#string concatenation
s1="hello"
s2="world"

print(s1+s2)

helloworld

In [72]:
#iterating through string
mystring = "helloworld"
count =0 
for l in mystring:
    if l == "o":
        count += 1
print(count,"letters found")

2 letters found

In [73]:
#boolean in string
mystring = "boolean in string"
print("l" in mystring)

True

In [75]:
print("in" in mystring)
print("yay" in mystring)

True
False

In [80]:
#STRING METHODS

# Some commonly used string methods  lower(), upper(), join(), split(), find(), replace(), strip() etc..,..

"HELLO".lower()
"world".upper()

'WORLD'

In [81]:
"this will split all the the words".split()

['this', 'will', 'split', 'all', 'the', 'the', 'words']

In [85]:
' '.join(['this', 'will', 'split', 'all', 'the', 'the', 'words']) #you can specify the seperator in ' '

'this will split all the the words'

In [88]:
"Good Morning".find("ng") #to find the index value of the word that we are looking out for.

10

In [89]:
s1 = "Good Morning"
s2 =  s1.replace("Good","Bad")
print(s1,s2)

Good Morning Bad Morning

In [93]:
#PYTHON PROGRAM TO CHECK WHETHER A STRING IS PALINDROME OR NOT
mystr = "Madam"
#convert the string to to either lower or upper
mystr = mystr.lower()

#reverse string
revstr = reversed(mystr)

#check if the strng equals the reversed string
if list(mystr) == list(revstr):
    print("its a palindrome")
else:
    print("its not an palindrome")

its a palindrome

In [95]:
# SORTING WORDS IN ALPHABETICAL ORDER

mystr = "sorting words in alphabetical order"

words =  mystr.split() #split the string and save as a list
print(words)

words.sort() #sorting the list in aplhabetical order

for word in words:
    print(word)

['sorting', 'words', 'in', 'alphabetical', 'order']
alphabetical
in
order
sorting
words

In [98]:
a = "this is string  "
a.strip() # removes the ending empty spaces in a string

'this is string'